# Salesforce / SFDX / CCI
.cci
.sfdx
/src.orig
/src
.github
# Python
*.pyc
__pycache__

# Robot Framework results
robot/CumulusCI/results/

# Editors
*.sublime-project
*.sublime-workspace
.vscode
.idea
.project
.settings

# Misc
.DS_Store
